/*! Homepage Content*/
.homepage_heading
{
    border: solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Inria Sans';
}

.outfit
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tops_bar,.bottoms_bar,.shoes_bar
{
    display: flex;
    align-items: center;
}

h1{
    font-weight: bold;
}

h2{
    text-align: center;
}

button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

a:visited
{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.clothing_piece{
    border: solid;
    border-color: black;
    border-width: 2px;
}

#login-signup
{
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 15px;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    box-sizing: border-box; /*This makes the button height and width account for the padding and border */
    display: inline-block;
    margin-left: 3%;
}