html{
    height: 100%;
    color: #50b0bf;
}

body {
    background-color: #1a1a1a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

footer{
    margin-bottom:auto;
}

/*Index page*/
#index_main{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
    align-items: start;
    justify-items: center;
    width: 60%;
    margin: 0 auto;
}

.section_heads{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
}

#header_btns{
    position: absolute;
    right: 1rem;
}

img{
    border: 3px solid #42b883;
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
}

#rand_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 50px;
}

footer h3{
    text-align: center;
}

/*The reason why this takes up the whole space */
footer section{
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/*This covers the Login and Signup page CSS formats*/
#login_main{
    flex: 1;
}

#login_main h2{
    text-align: center;
}

#login_main form div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#login_main form div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    width: 300px;
    align-items: stretch;
}

label{
    width: 100%
}

#login_main form button{
    margin-top: 0.5rem;
}

#signup_btn{
    display: block;
    margin: auto;
    margin-top: 1.5rem;
}

/*This part covers the wardrobe section*/
#wardrobe_body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header header"
    "topbar topbar"
    "sidebar main"
    "footer footer";
}

#wardrobe_body header{
    grid-area: header;
}

#wardrobe_body footer{
    grid-area: footer;
}

#wardrobe_body nav{
    grid-area: topbar;
}

#wardrobe_body main{
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-left: auto;
}

aside{
    grid-area: sidebar;
    display: flex;
    position: sticky;
    top:0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#wardrobe_body main, aside{
    margin-top: 20px;
}

aside form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap:10px;
}
